/*Universal*/
body {
    background-color: rgb(169, 116, 255);
    display: grid;
    grid-area: 6.5rem 1fr / repeat(2, 1fr);
}

/*Header section*/

h1 {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: center;
}

nav {
    grid-area: 1 / 2 / span 1 / span 1;
    justify-self: end;
    align-self: center;
}
