/*Universal*/
body {
    background-color: rgb(169, 116, 255);
    display: grid;
    grid-area: 6.5rem 1fr / repeat(2, 1fr);
    margin: 0.75rem 1.5rem;
    font-family: 'Calibri',sans-serif;
    
}

a,h1 {
    text-decoration: none;
    color: rgb(77, 24, 77);
}

/*Header section*/

#get {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: center;
    text-decoration: none;
    justify-self: start;
}

a:hover,h1:hover {
    color: rgb(235, 180, 235);
}

nav {
    grid-area: 1 / 2 / span 1 / span 1;
    justify-self: end;
    align-self: center;
}

nav a {
    font-size: 1.45rem;
    margin: 0rem 0.25rem;
    text-decoration: none;
}

/*Contact*/

h2 {
    font-size: 3rem;
    color: rgb(51, 0, 51);
    margin: 1rem 0rem;
}

p {
    font-size: 1.25rem;
}

#email {
    font-weight: bold;
    margin-left: 1.3rem;
}

#contact a {
    font-size: 1.25rem;
    margin-left: 1.3em;
}